body {
    background-color: rgb(191, 230, 255);
}
h1,
h2,
h3 {
    text-align: center;
    font-size: 1.7rem;
}

h2 {
    margin: 3rem 0em;
    border-radius: 20px;
    background-color: white;

}
h3{
    border-radius: 20px;
    background-color: white;
    margin: 3rem 0rem;
}


.galleries {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin-top: -3rem;


}
.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    background: white;
    padding: 0rem 0 0 0;
    background-color: transparent;
}


.gallery img {
    height: 100%;
    width: 160px;
    object-fit: cover;
    border:1px solid black;
    border-radius: 20px;
}


/* Modal */

.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

.modalInner {
  border-radius: 4px;
  background: linear-gradient(#4ed4c79f, #6da8c87e);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-100vh);
  transition: all 0.5s;
  max-width: 1000px;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  color: rgb(0, 0, 0);
  margin: 3rem;


}

.modal figure {
  height: 100%;
  display: grid;
  margin: 0;
  grid-template-rows: 1fr auto;
  align-items: center;
  justify-items: center;
}

.modal img {
  height: 500px;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal h4,
.modal p {
  color: white;
  font-size: 1rem;
  text-align: center;
  margin-top: 0.5rem;
  text-shadow:  2px 2px 0 rgba(0,0,0,0.2);
}

.modal.open .modalInner {
  transform: translateY(0);
}

button {
  background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  border-radius: 10px;
}

